<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Express + Socket IO</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <!-- Descomentar para la práctica de index-eventos -->
     <!-- <h1>Hello 🚀</h1>
     <p id="mensaje"></p>
     <button id="emit-to-server">Enviar</button>
     <button id="emit-to-last">Enviar 🚀</button> -->
     <!--  -->

     <div id="circle"></div>

    <script src="/socket.io/socket.io.js"></script> <!-- Importamos el script de socket.io del lado del cliente -->
    <script src="./js/index.js"></script>
</body>
</html>